* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family: 'Anuphan', sans-serif;
    background-color: rgb(158, 197, 227);
}

header {
    background-image: url("./images/bluesky.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: end;
    gap: 3rem;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(22, 105, 179);
}

.header-text {
    display: flex;
    flex-direction: column;
    
}

.header-text h1 {
    font-size: 50px;
    padding: 1rem;
}

.button {
    background-color: rgb(134, 192, 235);
    color: white;
    border-color: white;
}

.button:hover {
    background-color: transparent;
    color: white;
    border-color: white;
}

#about {
    height: 100vh;
}

h2 {
    font-size: 45px;
    padding: 2rem;
    /* border-bottom: .5rem solid white; */
}

h2::after {
    content: "";
    display: block; 
    height: .3rem;
    width: 10rem;
    background-color: white;
}

#about p {
    font-size: 20px;
    padding: .625rem 0 1rem 2rem;
}

#work {
    height: 100vh;
}

#contact {
    height: 100vh;
}

h3 {
    font-size: 30px;
}

#work p, .new-work-page p {
    font-size: 20px;
    margin-top: 10%;
}

#work ul, .new-work-page ul {
    font-size: 20px;
    list-style-type: disc;
    margin-left: 7%;
    margin-top: 10%;
}

#work a, .new-work-page a {
    font-size: 20px;
    margin-top: 10%;
}

.offset {
    margin-left: 3.5%;
}

img {
    height: 400px;
    width: auto;
}

.new-work-page {
    height: 100vh;
}

/* style="color: #86c0eb */