* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family: 'Anuphan', sans-serif;
    background-color: rgb(158, 197, 227);
}

header {
    background-image: url("./images/bluesky.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: end;
    gap: 3rem;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(22, 105, 179);
}

.header-text {
    display: flex;
    flex-direction: column;
    
}

.header-text h1 {
    font-size: 50px;
    padding: 1rem;
}

/* .about-text {
    display: flex;
    flex-direction: column;
} */

#about h1 {
    font-size: 45px;
    padding: 2rem;
    /* border-bottom: .5rem solid white; */
}

#about p {
    font-size: 20px;
    padding: 0 0 1rem 2rem;
}